{
    admin 127.0.0.1:2480
    auto_https off
    persist_config off
}

http://127.0.0.1:@HTTP_PORT@ {
    bind 127.0.0.1
    root * @WP@
    encode gzip
    php_fastcgi unix/@FPM_SOCKET@
    file_server
    log {
        output file @LOG@/caddy-access.log
    }
}

http://:@PUBLIC_PORT@ {
    bind 127.0.0.1
    root * @WP@
    encode gzip
    request_header X-Forwarded-Proto https
    log {
        output file @LOG@/caddy-public.log
        format filter {
            wrap json
            fields {
                resp_headers>Location delete
            }
        }
    }

    @rest_index {
        path /wp-json/
        method GET HEAD OPTIONS
    }
    @wcpos_read {
        path /wp-json/wcpos/*
        method GET HEAD OPTIONS
    }
    @wcpos_refresh {
        path /wp-json/wcpos/v1/auth/refresh /wp-json/wcpos/v2/auth/refresh
        method POST OPTIONS
    }
    @wcpos_auth {
        path /wcpos-auth /wcpos-auth/*
        method GET POST
    }
    @static {
        method GET HEAD
        path /wp-content/uploads/* /wp-includes/* /wp-content/plugins/* /wp-admin/css/* /wp-admin/images/*
        not path *.php
    }

    handle @rest_index {
        php_fastcgi unix/@FPM_SOCKET@ {
            env HTTPS on
        }
    }
    handle @wcpos_read {
        php_fastcgi unix/@FPM_SOCKET@ {
            env HTTPS on
        }
    }
    handle @wcpos_refresh {
        php_fastcgi unix/@FPM_SOCKET@ {
            env HTTPS on
        }
    }
    handle @wcpos_auth {
        php_fastcgi unix/@FPM_SOCKET@ {
            env HTTPS on
        }
    }
    handle @static {
        file_server
    }
    respond 403
}
