[mysqld]
datadir=@DATA@
socket=@DB_SOCKET@
port=@DB_PORT@
bind-address=127.0.0.1
pid-file=@RUN@/mariadb.pid
log-error=@LOG@/mariadb.err
innodb_buffer_pool_size=128M
max_connections=30
performance_schema=OFF

[client]
socket=@DB_SOCKET@
port=@DB_PORT@
